# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
/media/

# Environments
.env
venv/
.env.local

# VSCode
.vscode/

# Byte-compiled
*.pyc

# Distribution
build/
dist/
*.egg-info/

# Pytest
.cache/

# macOS
.DS_Store
